/* Style for the container */
.container {
  background: #272727;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Style for the form */
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  padding: 2rem;
  border-radius: 5px;
}

.form h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: #f6f4e6;
}

.inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.inputs label {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  color: #f6f4e6;
}

.inputs input {
  width: 80%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.inputs input:focus {
  outline: none;
  border-color: #0064e6;
}

.loginError {
  color: red;
  margin-top: 1rem;
}

.container p {
  color: #f6f4e6;
}

.form Button {
  background: #0064e6;
}
