@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

.outerContainer {
  margin-top: 1.5rem;
  position: relative;
  top: 4rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.innerContainer {
  max-width: 35rem;
  text-align: center;
  justify-content: center;
}

.innerContainer Button {
  margin-left: 1rem;
  margin-right: 1rem;
}

.image {
  width: 50%;
}

.inline {
  display: inline;
  margin: 1rem;
}

.checkboxes {
  display: inline;
}
