@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

.outerContainer {
  position: relative;
  margin-top: 4rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  background-color: rgb(225, 224, 224);
}

.bootcampContainer {
  /* width: 800px; */
  padding: 1rem;
  background-color: #f7f7f7;
  margin: 1rem 0rem;
  box-shadow: 0 30px 40px rgba(168, 168, 168, 0.715);
  border-radius: 5px;
  width: 75%;
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: center;
}

.buttons Button {
  margin-left: 1rem;
  margin-right: 1rem;
}

.heading {
  justify-content: left;
  flex-direction: row;
}

.heading h1 {
  font-size: 1.8rem;
  margin-right: 1rem;
  text-decoration: underline #5fa3fd;
}

.heading p {
  margin-top: 1rem;
  bottom: 0;
  font-size: 14px;
}

.heading p span {
  color: #5fa3fd;
  font-weight: 600;
}

.bootcampContainer section {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
}

.bootcampContainer section h3 {
  width: 100%;
  margin-bottom: 0rem;
  /* flex-basis: 100%; */
  /* text-decoration: underline #0064e6; */
}

.bootcampContainer section p {
  font-weight: 500;
  margin-bottom: 0rem;
}

.bootcampContainer section p span {
  color: #5fa3fd;
  font-weight: 1000;
}

.website {
  font-weight: 500;
}

.website span {
  text-decoration: underline #5fa3fd;
}

.website span:hover {
  cursor: pointer;
}

.courses {
  padding: 1rem;
  background-color: #272727;
  margin: 1rem 0rem;
  box-shadow: 0 30px 40px rgba(168, 168, 168, 0.715);
  border-radius: 5px;
  width: 75%;
  text-align: center;
  color: #f7f7f7;
}

.courses h2 {
  text-align: center;
}

.courseItem {
  list-style-type: none;
  border: 2px solid #0064e6;
  border-radius: 5px;
  margin-bottom: 1rem;
  padding: 1rem;
}

.courseItem:hover {
  border: 2px solid #5fa3fd;
  cursor: pointer;
}

.courseItem section {
  display: flex;
  justify-content: space-around;
}

.courseItem span {
  color: #5fa3fd;
}
