.card {
  padding: 1rem 2rem;
  background: #f7f7f7;
  margin: 1rem 0rem;
  box-shadow: 0 30px 40px rgba(168, 168, 168, 0.715);
  border-radius: 5px;
  width: 100%;
  font-family: "Montserrat", sans-serif;
}
