.inputField {
  margin-bottom: 1rem;
  width: 100%;
  padding-right: 1rem;
}

.inputField label {
  color: #272727;
  display: block;
}

.inputField input {
  outline: none;
  width: 100%;
  padding: 0.5rem;
  margin-right: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.inputField input:focus {
  border: 1px solid #0064e6;
}
