.button {
  background-color: #0064e6;
  border-radius: 5px;
  border: none;
  color: #fff;
  cursor: pointer;
  font-family: "Farfetch Basis", "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  width: 6rem;
  text-align: center;
  outline: none;
  padding: 0.5rem 1rem;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.button:hover,
.button:focus {
  background: #0054c4;
}
