.container {
  background: rgb(225, 224, 224);
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  top: 4rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  padding: 2rem;
  border-radius: 5px;
  margin-top: 2rem;
}

.form h1 {
  margin-top: 4rem;
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: #272727;
}

.inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.inputs label {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  color: #272727;
}

.inputs input {
  width: 80%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.inputs input:focus {
  outline: none;
  border-color: #0064e6;
}

.loginError {
  color: red;
  margin-top: 1rem;
}

.container p {
  color: #272727;
}

.form Button {
  background: #0064e6;
}

.container a {
  text-decoration: none;
  margin-bottom: 2rem;
  color: #0064e6;
  font-weight: 500;
}

.container a:hover {
  color: #f7f7f7;
}
