.container {
  width: 50%;
  display: flex;
  justify-content: center;
}

.container Card div {
  padding: 2rem;
}

.title {
  font-size: 2.5rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.form .error {
  margin-top: 2rem;
  color: rgb(240, 56, 56);
}

.checkboxes {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.round {
  width: 1.3em;
  height: 1.3em;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid grey;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

.round:checked {
  background: #272727;
}
